click
colorama
tomli
tomli-w
tqdm
opencv-python
Pillow
scikit-image
piexif
pandas
scipy
scikit-learn
matplotlib
torch
transformers
ultralytics
sqlalchemy
joblib
reportlab
PyQt6
PyQt6-Qt6
PyQt6-sip
fastapi
uvicorn
language-tool-python
pyspellchecker
pywin32; sys_platform=="win32"
pywin32; sys_platform=="win64"
pytest
pytest-cov
exifread
